* {
    box-sizing: border-box;
}
.display-3 {
    color: #a41474;
}
.display-3, .display-4 {
    font-weight: 100;
}
.display-5 {
    font-size: 1.7em;
}
/* nav styles */
#nav {
    transition: all 0.4s linear;
    overflow: hidden;
    padding: 25px 0;
}
.navbar {
    background-color: #fff;
}
.large-nav img {
    max-height: 80px;
    transition: all 0.4s linear;
}
.small-nav img {
    max-height: 60px;
    transition: all 0.4s linear;
}
nav .nav-item {
    margin-top: auto;
    margin-bottom: auto;
}
nav .navbar-nav {
    display: flex;
    flex-direction: column;
}
nav .navbar-nav .rounded-pill {
    box-shadow: none;
    background: none;
    outline: none;
    border-style: solid;
    border: 1px solid black;
}
/*header styles */
header {
    background-size: 100%;
    background-position: 0 -200px;
    background-repeat: no-repeat;
}
header img {
    width: 100%;
    margin-top: 100px;
}
header .intro {
    color: #cee0dc;
    text-align: center;
    justify-content: center;
    width: 70%;
    position: relative;
    transform: translate(0, 180px);
}
.intro p {
    font-size: 1.8em;
}
.contact-img {
    width: 600px;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 80px;
}
.contact-details {
    margin-top: 200px;
}
@media screen and (max-width: 768px) {
    .contact-details {
        margin-top: 20px;
    }
}
/* main styles */
main p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}
@media screen and (max-width: 660px) {
    main p {
        font-size: 1em;
    }
}
.welcome {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.welcome-home {
    text-align: center;
}
@media screen and (min-width: 992px) {
    .welcome {
        width: 80%;
    }
}
.homepage {
    margin-top: -200px;
}
@media screen and (max-width: 768px) {
    .homepage {
        margin-top: -100px;
    }
}
.welcome .display-3 {
    text-align: center;
    margin-bottom: 1em;
}
.welcome .col {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.welcome p {
    line-height: 1.7em;
}
.welcome button {
    border: 2px solid black;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    transition: all 0.4s ease;
    margin: 30px;
}
.welcome button:hover, .welcome button:active {
    background-color: #a41474;
    border: 2px solid #a41474;
    color: #fff;
    transition: all 0.4s ease;
}
/*footer styles */
footer {
    background-color: black;
    color: white;
    height: fit-content;
}
footer .container-fluid {
    margin-left: auto;
    margin-right: auto;
}
footer .nav {
    text-align: center;
    justify-content: center;
}
footer .nav a {
    color: #cee0dc;
}
footer .title {
    color: #a41474;
    font-weight: bold;
    text-decoration: underline;
}
footer .bottom-nav {
    padding-left: auto;
    padding-right: auto;
}

footer .social img {
    width: 30px;
    margin: 5px;
}
footer .social {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: fit-content;
}
footer .marketing {
    position: relative;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
    height: 40px;
}
footer .marketing div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}